<h2>Movie List</h2>
<% @movies.each do |movie| %>

  <!-- <a href="/movies/<%#= movie['imdbID'] %>"><%#= movie["Title"] %></a> - <%#= movie["Year"] %></br> -->

  <%= link_to movie["title"], movie_path(movie['imdbID']) %> - <%= movie["year"] %></br>

  <%= button_to "delete", {controller: :movies, action: :destroy, id: movie["imdbID"] }, :method => :delete %>
  <br>

<% end %>
<br>
<%= link_to 'Add Movie to DB', new_movie_path %>